.chess{
  
    margin: 0 auto;

}
.chessitem{



height: 100px;
float: left;

}

.chessitem:nth-child(1){
    background: black;

}
.chessitem:nth-child(3){
    background: black;

}
.chessitem:nth-child(5){
    background: black;

}
.chessitem:nth-child(7){
    background: black;

}
.chessitem:nth-child(10){
    background: black;

}
.chessitem:nth-child(12){
    background: black;

}
.chessitem:nth-child(14){
    background: black;

}
.chessitem:nth-child(16){
    background: black;

}
.chessitem:nth-child(17){
    background: black;

}.chessitem:nth-child(19){
    background: black;

}.chessitem:nth-child(21){
    background: black;

}.chessitem:nth-child(23){
    background: black;



}.chessitem:nth-child(26){
    background: black;

}.chessitem:nth-child(28){
    background: black;

}.chessitem:nth-child(30){
    background: black;

}.chessitem:nth-child(32){
    background: black;

}.chessitem:nth-child(33){
    background: black;

}.chessitem:nth-child(35){
    background: black;

}.chessitem:nth-child(37){
    background: black;

}.chessitem:nth-child(39){
    background: black;

}.chessitem:nth-child(42){
    background: black;

}.chessitem:nth-child(44){
    background: black;

}.chessitem:nth-child(46){
    background: black;

}.chessitem:nth-child(48){
    background: black;

}.chessitem:nth-child(49){
    background: black;

}.chessitem:nth-child(51){
    background: black;

}.chessitem:nth-child(53){
    background: black;

}.chessitem:nth-child(55){
    background: black;

}.chessitem:nth-child(58){
    background: black;

}.chessitem:nth-child(60){
    background: black;

}.chessitem:nth-child(62){
    background: black;

}.chessitem:nth-child(64){
    background: black;

}.chessitem:nth-child(3){
    background: black;

}.chessitem:nth-child(3){
    background: black;

}.chessitem:nth-child(3){
    background: black;

}.chessitem:nth-child(3){
    background: black;

}.chessitem:nth-child(3){
    background: black;

}.chessitem:nth-child(3){
    background: black;

}.chessitem:nth-child(3){
    background: black;

}




